/*
color------------
white:#fff;
offwhite: #f8f9fa;
navyL #14213d;
dark: #242423;

sizes------------
sidebar: 250px;

font family------
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* general design */
body{
  margin: 0;
  padding: 0;
}

.content{
  display: inline;
  font-family: 'Open Sans', sans-serif;
}

/* sidebar designs */

.sidebar {
  position: fixed;
  left: 0;
  background-color: #242423;
  color: #f8f9fa;
  width: 250px;
  height: 100%;
  padding: 0 1em 1em 1em;
  font-family: 'Roboto', sans-serif;
}


.sidebar ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidebar li{
  background-color: #242423;
  padding: 1em;
}

.sidebar a{
  text-decoration: none;
  color:#c5c5c5;
}

.sidebar a:hover{
  color:#fff;
}

/* Main docs */
#main-doc{
  margin: 0 0 0 275px;
  padding: 1em;
}

#main-doc h2{
  font-family: 'Roboto', sans-serif;
}

#main-doc h2:first-child{
  margin-top:0;
  padding-top:1em;
}

#main-doc section{
  border-bottom: solid 1px #000;
}
